extends layout

block content
  .container
    h1 Oops!
    h2 Something went wrong!
    h2 You've got a .Error
    img.di(src="/img/yankee.jpeg")
    img.error(src="/img/error.png" width="512" height="512")