extends layout

block content
  .row
    .container
      h2.title Drone .di
      img.drone(src="/img/drone-md.png" width="200" height="200")
      a.btn.big.btn-large.blue-grey(href="/streaming") Start streaming
      a.btn.big.btn-large.blue-grey(href="/jn") Take off
      a.btn.big.btn-large.blue-grey(href="/magic") magic


block scripts
    script.
        var socket = io()
        socket.emit('chat message', "yo momma");
        socket.on('chat message', function (msg) {
            console.log(msg);
            document.getElementsByTagName("body")[0].innerHTML = msg;
        });
        socket.on('end', function (start) {
            var end = new Date().getTime();
            console.log("Total time:" + (end - start))
            document.getElementsByTagName("body")[0].innerHTML = end - start;
        });