doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/external/styles/sass/materialize.css')
    link(rel='stylesheet', href='/styles/personal/styles.css')
    link( href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="/external/socket.io/socket.io.js")
  body
    nav
      .nav-wrapper.blue-grey
        a.btn-flat(href="/") Drone.Di
    block content
  block scripts