extends layout

block content
    .row
        .container
            .card.center-align.center
                .absent
                    .card-content
                        .video-container
                            video#myVideo(width='600px', height='600px', preload='', autoplay='', loop='', muted='')
            button.btn.blue-grey.left Start flight
            button.btn.blue-grey.right Auto-pilot

block scripts
    script(src="/external/trackingjs/tracking-min.js")
    script(src="/scripts/tracking/jn-tracker.js")
