body{
  background-color: #ECEFF1;
  nav{
    .btn-flat{
      color: white;
    }
  }
  .container{
    text-align: center;
    .drone{
      transition: all 0.5s ease;
      display: block;
      margin: 50px auto;
      border-radius: 22%;
      box-shadow: 0 10px 12px black;
    }
    .drone:hover{
      transition: border-radius 0.5s ease;
      border-radius: 50%;
      box-shadow: 0 10px 50px black;
    }
    img.error{
      position: absolute;
      bottom: 0;
    }
    img.di{
      position: absolute;
      left: 0;
    }
  }
}